.footer {
  display: flex;
  margin: 92px auto 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffffff;
}

@media screen and (max-width: 728px) {
  .footer {
    max-width: 728px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 166px;
  }

  .footer__copyright {
    font-size: 14px;
    line-height: 14px;
  }
}